[submodule "joe"]
	path = joe
	url = git@github.com:sos-berlin/joe.git
[submodule "joc"]
	path = joc
	url = git@github.com:sos-berlin/joc.git
[submodule "jitl"]
	path = jitl
	url = git@github.com:sos-berlin/jitl.git
[submodule "jade"]
	path = jade
	url = git@github.com:sos-berlin/jade.git
[submodule "commons"]
	path = commons
	url = git@github.com:sos-berlin/commons.git
[submodule "jid"]
	path = jid
	url = git@github.com:sos-berlin/jid.git
[submodule "commons-graphviz"]
	path = commons-graphviz
	url = git@github.com:sos-berlin/commons-graphviz.git
[submodule "commons-jobscheduler"]
	path = commons-jobscheduler
	url = git@github.com:sos-berlin/commons-jobscheduler.git
